# dependencies
/node_modules

# build output
.next/
out
dist

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*


# system files
.DS_Store
``