@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"]{
  --background: #171717;
  --foreground: #ffffff;
}

@theme {
  --spacing: initial; /* 기본 스케일 비활성화 */
  --spacing-1: 10px; /* p-1 */
  --spacing-1\.5: 15px; /* p-1.5  ← 점은 역슬래시로 escape */
  --spacing-2: 20px; /* p-2 */
  --spacing-2\.5: 25px; /* p-2.5 */
  --spacing-3: 30px; /* p-3 */
  --spacing-4: 40px; /* p-4 */
  --spacing-5: 50px; /* p-5 */
  --spacing-5\.5: 55px; /* p-5.5 */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Jua', sans-serif;
}

button {
  cursor: pointer;
}

section{
  padding: 2vw;
}


